@model POC.Models.RegisterRequestViewModel

@{
    ViewBag.Title = "User Registration";
}
<style>
 body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <h1 class="well">Registration Form</h1>
        <div class="col-lg-12 well">
            <div class="row">

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.firstName)
                            @Html.TextBoxFor(model => model.newProfileContact.firstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.firstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.lastName, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.lastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.lastName, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.emailAddress, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.emailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.emailAddress, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.payPalEmail, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.payPalEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.payPalEmail, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.phoneNumber, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.phoneNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.org, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.org, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.org, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">

                            @Html.LabelFor(model => model.newProfileContact.companyName, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.companyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.companyName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.jobTitle, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.jobTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.jobTitle, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.userType, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.userType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.userType, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.educationLevel, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.educationLevel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.educationLevel, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.relationshipStatus, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.relationshipStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.relationshipStatus, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.maritalStatus, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.maritalStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.maritalStatus, "", new { @class = "text-danger" })
                        </div>



                        @*<div class="form-group">
                                @Html.LabelFor(model => model.newProfileContact.pictureId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.newProfileContact.pictureId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.pictureId, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.isPublicProfile, htmlAttributes: new { @class = "" })
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.newProfileContact.isPublicProfile)
                                @Html.ValidationMessageFor(model => model.newProfileContact.isPublicProfile, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.isPhonePublic, htmlAttributes: new { @class = "" })
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.newProfileContact.isPhonePublic)
                                @Html.ValidationMessageFor(model => model.newProfileContact.isPhonePublic, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.isEmailPublic, htmlAttributes: new { @class = "" })
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.newProfileContact.isEmailPublic)
                                @Html.ValidationMessageFor(model => model.newProfileContact.isEmailPublic, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.newProfileContact.viewCounter, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.newProfileContact.viewCounter, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.viewCounter, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.phoneType, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.phoneType, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.newProfileContact.phoneType, "", new { @class = "text-danger" })*@
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.newProfileContact.userId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.newProfileContact.userId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.userId, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.countryCode, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.countryCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.countryCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.gender, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.gender, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.gender, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.birthDate, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.birthDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.birthDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.addressLine1, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.addressLine1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.addressLine1, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.addressLine2, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.addressLine2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.addressLine2, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.addressCity, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.addressCity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.addressCity, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.addressCountry, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.addressCountry, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.addressCountry, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.addressState, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.addressState, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.addressState, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(model => model.newProfileContact.addressZip, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.newProfileContact.addressZip, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newProfileContact.addressZip, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-lg btn-info" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
