
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-body">
    @if (CommonUtility.loginDetails != null)
    {
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Send Email", "LoadVerificationTypeView", "Home", new { type = "Email" }, null)</li>
            <li>@Html.ActionLink("Resend Email", "LoadVerificationTypeView", "Home", new { type = "ResendEmail" }, null)</li>
            <li>@Html.ActionLink("SMS", "LoadVerificationTypeView", "Home", new { type = "SMS" }, null)</li>
            <li>@Html.ActionLink("Call", "LoadVerificationTypeView", "Home", new { type = "Call" }, null)</li>
            <li>@Html.ActionLink("Update Profile", "GetProfile", "Profile", new { UserId = CommonUtility.loginDetails.userId }, null)</li>
            <li>@Html.ActionLink("Create Text Poll", "CreateTextPoll", "TextPoll", null, null)</li>
            <li>@Html.ActionLink("Create Best Text Poll", "CreateBestTextPoll", "TextPoll",null, null)</li>
            <li>@Html.ActionLink("Create Single Image Poll", "CreateSingleImagePoll", "TextPoll", null, null)</li>
        </ul>
    }
</div>
